<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Sistema - Baño</title>
    <link rel="stylesheet" href="styles/Estilos.css">
</head>
<body>
   <h1>Hola {{ name }}, {{ mensaje }} <br> Estas son tus estadisticas de baño</h1>
    {% if 'user_id' in session %}
    <p>Hola Uusario {{ session['user_id'] }}</p>
    <form method = POST action="{{ url_for('logout') }}">
        <input type="submit" value="Cerrar sesión">
    </form>
    {% else %}
    <p>No has iniciado sesión</p>
    <a href="{{ url_for('login') }}">Iniciar sesión</a>
    {% endif %}
   </body>

</html>