<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Conectate a tu red</h1>
    <form action="/conectar" method="POST">
        <label for="ssid_wifi">Nombre de la red</label>
        <input type="text" name="ssid_wifi" required> <br>
        <label for="wifi_pass">Contraseña de la red</label>
        <input type="password" name="wifi_pass" required><br>
        <button type="submit">Conectar</button>
    </form>
</body>
</html>