<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">

    <title>loTShower</title>
    <link href="{{ url_for('static', filename = 'img/loTShower_Blanco.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for ('static', filename = 'img/loTShower_Blanco.svg') }}">
</head>
<body>
 <!--☰ -->
    <nav>
        <div class="iot-shower-box">
            <h2><img src="{{ url_for('static', filename="img/Pato_azul.svg") }}">     loTShower</h2>
            <div id="menu-icon"><strong>&#9776;</strong></div>
            <div id="submenu">
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/index.html"><img src="{{ url_for('static', filename='img/lotshower_gris.svg') }}">  Principal</a>
                <div class="divider"></div>
                <a href="{{ url_for('profile')}}"><img src="{{ url_for('static', filename='img/Perfil_gris.svg') }}">  Perfil</a>
                <div class="divider"></div>
                <a href="{{ url_for('bano')}}"><img src="{{ url_for('static', filename='img/Baño.svg') }}">  Baños</a>
                <div class="divider"></div>
                <a href="{{ url_for('ducha') }}"><img src="{{ url_for('static', filename='img/Ducha.svg') }}"> Ducha</a>
                <div class="divider"></div>
                <a href="{{ url_for('info') }}"><img src="{{ url_for('static', filename='img/Info.svg') }}"> Información</a>
                <div class="divider"></div>
                <a href="{{ url_for('conect') }}"><img src="{{ url_for('static', filename='img/Conexion.svg') }}"> Conexión</a>
                <div class="divider"></div>
                <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='img/Conexion.svg') }}" alt=""> Cerrar sesión</a>
            </div>
        </div>
    </nav>
   <!---->
   <div id="miContenedor" class="contenedor">
    <p>Hola {{ name }}, {{ mensaje }} Estas son tus estadísticas de baño</p>
</div>
    <div class="texto" >
        <div class="Graficas01">
            <h2> Gasto de agua por día:</h2>
        <img src="{{ url_for('static', filename='img/Gafrica.png') }}" >
        
<!-- Tabla -->

<table border="0" id="resumen" class="resumen-table" class="resumen" onclick="toggleDescription(this)">
    <thead>
      <tr>
        <td class="header-cell" colspan="2">
          <p><strong>Resumen del Mes</strong></p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="data-cell">Agua Usada</td>
        <td class="data-cell">Valor</td>
      </tr>
      <tr>
        <td class="data-cell">Costo de Luz</td>
        <td class="data-cell">Valor</td>
      </tr>
      <tr>
        <td class="data-cell">Costo de Agua</td>
        <td class="data-cell">Valor</td>
      </tr>
    </tbody>
  </table>
            <h2> Tiempo y flujos de baño</h2>
            <img src="{{ url_for('static', filename='img/Gafrica.png') }}" >
            <!-- Tabla -->
<table border="0" id="resumen" class="resumen-table" >
    <thead>
      <tr>
        <td class="header-cell" colspan="2">
          <p><strong>Resumen del Mes</strong></p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="data-cell">Agua Usada</td>
        <td class="data-cell">Valor</td>
      </tr>
      <tr>
        <td class="data-cell">Costo de Luz</td>
        <td class="data-cell">Valor</td>
      </tr>
      <tr>
        <td class="data-cell">Costo de Agua</td>
        <td class="data-cell">Valor</td>
      </tr>
    </tbody>
  </table>
        </div>
    </div> 





    <!--la barra de icono de navegacion-->
    <div class="navigation">
        <ul>
            <li class="list active">
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/index.html">
                <span class="icon"><img src="{{ url_for('static', filename='img/lotshower_gris.svg') }}"></span>
                <span class="text">Principal</span>
                </a>
            </li>
            <li class="list">
                <a href="{{ url_for('profile')}}">
                <span class="icon"><img src="{{ url_for('static', filename='img/Perfil_gris.svg') }}"></span>
                <span class="text">Perfil</span>
                </a>
            </li>
            <li class="list">
                <a href="{{ url_for('bano') }}">
                <span class="icon"><img src="{{ url_for('static', filename='img/Baño.svg') }}"></span>
                <span class="text">Baños</span>
                </a>
            </li>
            <li class="list">
                <a href="{{ url_for('ducha') }}">
                <span class="icon"><img src="{{ url_for('static', filename='img/Ducha.svg') }}"></span>
                <span class="text">Ducha</span>
                </a>
            </li>
            <li class="list">
                <a href="{{ url_for('info') }}">
                <span class="icon"><img src="{{ url_for('static', filename='img/Info.svg') }}"></span>
                <span class="text">Info</span>
                </a>
            </li>
            <li class="list">
                <a href="{{ url_for('conect') }}">
                <span class="icon"><img src="{{ url_for('static', filename='img/Conexion.svg') }}"></span>
                <span class="text">Conexion</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>