<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="Login_D.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="logo.svg" alt="IoTShower" class="logo">
        <label for="TituloApp">IoTShower</label><br>
        <label for="Bienvenido">Bienvenido</label><br>
        <form>
            <label for="email">Ingrese correo electronico:</label><br>
            <input type="text" placeholder="Usuario" required>
            <label for="email">Ingrese Contraseña:</label><br>
            <input type="password" placeholder="Contraseña" required>
        </form>
        <div class="Restablecer">
            <a href="#">Restablecer contraseña</a>
        </div>
        <div class="button-group">
            <button type="submit">Iniciar sesión</button>
            <button type="submit">Crear Cuenta</button>
        </div>
        <div class="Restablecer">
            <label for="Mensaje">Mensaje</label>
        </div>
    </div>
</body>
</html>