<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">

    <title>loTShower</title>
    <link href="{{ url_for('static', filename='img/loTShower_Blanco.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_perfil.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/loTShower_Blanco.svg') }}">
    <form action="/my-handling-form-page" method="post"></form>
</head>
<body>
 <!--☰ -->
    <nav>
        <div class="iot-shower-box">
            <h2><img src="{{ url_for('static', filename='img/Pato_azul.svg') }}">     loTShower</h2>
            <div id="menu-icon"><strong>&#9776;</strong></div>
            <div id="submenu">
                <a href="{{ url_for('dash')}}"><img src="{{ url_for('static', filename='img/lotshower_gris.svg') }}">  Principal</a>
                <div class="divider"></div>
                <a href="{{ url_for('profile')}}"><img src="{{ url_for('static', filename='img/Perfil_gris.svg') }}">  Perfil</a>
                <div class="divider"></div>
                <a href="{{ url_for('bano')}}"><img src="{{ url_for('static', filename='img/Baño.svg') }}">  Baños</a>
                <div class="divider"></div>
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/Ducha.html"><img src="{{ url_for('static', filename='img/Ducha.svg') }}"> Ducha</a>
                <div class="divider"></div>
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/Informacion.html"><img src="{{ url_for('static', filename='img/Info.svg') }}"> Información</a>
                <div class="divider"></div>
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/Conexion.html"><img src="{{ url_for('static', filename='img/Conexion.svg') }}"> Conexión</a>
            </div>
        </div>
    </nav>
    <div class="cuadro">
        <p>Información de Perfil</p>
    </div>
    <div class="perfilimg">
        <img src="{{ url_for('static', filename='img/perfil.svg') }}" alt="50%">
    </div>
    
        <form id="miFormulario" class="miFormulario">  
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" value="{{ mail }}">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ name }}"required>
            <label for="apellidoPaterno">Apellido Paterno:</label>
            <input type="text" id="apellidoPaterno" name="apellidoPaterno" value="{{ apaterno }}" required>
            <label for="apellidoMaterno">Apellido Materno:</label>
            <input type="text" id="apellidoMaterno" name="apellidoMaterno" value="{{ amaterno }}"required>
        </form>    
   <div class="button-container">
                <button class="Cancelar" onclick="cancelar()">Cancelar</button>
                <button type="button" onclick="guardar()">Guardar</button>
            </div>
            <div class="container">
            {% if 'user_id' in session %}
            <p>Hola Uusario {{ session['user_id'] }}</p>
            <form method = POST action="{{ url_for('logout') }}">
                <input type="submit" value="Cerrar sesión">
            </form>
            {% else %}
            <p>No has iniciado sesión</p>
            <a href="{{ url_for('login') }}">Iniciar sesión</a>
            {% endif %}
            </div>
 <!--input que se de linea de borde -->
    <div class="navigation">
        <ul>
            <li class="list">
                <a href="{{ url_for('dash')}}">
                <span class="icon"><img src="{{ url_for('static', filename='img/lotshower_gris.svg') }}"></span>
                <span class="text">Principal</span>
                </a>
            </li>
            <li class="list active">
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/Perfil.html">
                <span class="icon"><img src="{{ url_for('static', filename='img/Perfil_gris.svg') }}"></span>
                <span class="text">Perfil</span>
                </a>
            </li>
            <li class="list">
                <a href="{{ url_for('bano') }}">
                <span class="icon"><img src="{{ url_for('static', filename='img/Baño.svg') }}"></span>
                <span class="text">Baños</span>
                </a>
            </li>
            <li class="list">
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/Ducha.html">
                <span class="icon"><img src="{{ url_for('static', filename='img/Ducha.svg') }}"></span>
                <span class="text">Ducha</span>
                </a>
            </li>
            <li class="list">
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/Informacion.html">
                <span class="icon"><img src="{{ url_for('static', filename='img/Info.svg') }}"></span>
                <span class="text">Info</span>
                </a>
            </li>
            <li class="list">
                <a href="file:///C:/Users/franc/OneDrive/Desktop/loTShower/menu/Conexion.html">
                <span class="icon"><img src="{{ url_for('static', filename='img/Conexion.svg') }}"></span>
                <span class="text">Conexion</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <script src="{{ url_for('static', filename='scrits/script.js') }}"></script>
</body>
</html>