<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Registro_D.css')}}">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="container">
            <img src="{{ url_for('static', filename='img/logo.svg')}}" alt="IoTShower" class="logo">
            <label for="TituloApp">IoTShower</label><br>
            <h1>Registro</h1>
            <div class="titulo_pag">
            <form action="/registro" method="POST">
            </div>
        <div class="Inputs">
            <label for="fname">Nombre(s)</label><br>
            <input type="text" name="fname"><br>
            <label for="lname">Apellido(s)</label><br>
            <input type="text" name="lname"><br>
            <label for="email">Correo electrónico</label><br>
            <input type="email" name="email"><br>
            <label for="password">Contraseña</label><br>
            <input type="password" name="password"><br>
        </div>
        <label for="Gender">Género</label><br>
        <div class="Checkbox">
            <input type="radio" name="gender" value="femele">
            <label for="female">Mujer</label>
            <input type="radio" name="gender" value="male">
            <label for="male">Hombre</label>
            <input type="radio" name="gender" value="abstence">
            <label for="abstence">Prefiero no contestar</label> <br>
        </div>
        <div class="Button-group">
        <button type="submit">Registrarme</button>
        </div>
        </form>
        <div class="inicio">
            <a href="{{ url_for('login') }}">Ya tengo una cuenta</a>
        </div>
        </div>
    </div>
</body>
</html>